body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: white;
}

h1 {
  color: blue;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}
/* HEADER */
header {
  height: 60px;
  display: flex;
  align-items: center;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  flex-direction: row;
  text-align: center;
}

header li {
  padding-left: 30px;
  font-size: 12px;
  margin-top: 2px;
}

/*FILTRES*/
.filtres {
  display: flex;
  align-items: center;
  background-color: white;
}

/*BUTTON*/
.btn {
  line-height: 36px;
  border: solid 2px #f2f2f2;
  background-color: white;
  width: 150px;
  padding: 0 12px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
}
.search {
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

/*ICONS*/
.fas fa-money-bill-wave;

.search-input {
  display: flex;
  justify-content: center;
}
